<%- include('navbar') %>

<div class="container mt-4">
    <div class="card p-4">
        <h2>Our Mission</h2>
        <p><%= mission.content %></p>
        <a href="/admin/edit_mission" style="width: 200px;height: 50px;" class="btn btn-primary">Edit Mission</a>
    </div>
</div>

<%- include('footer') %>
